{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRINCIPAL</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #b9b3a9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .boton-container {
            text-align: center;
        }
        .boton {
            margin: 10px;
            padding: 10px 20px;
            font-size: 18px;
            white-space: nowrap; 
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center boton-container">
                <a href="{% url 'formulario' %}" class="btn btn-primary boton">Ingresar producción diaria</a>
                <a href="{% url 'listar_registros' %}" class="btn btn-primary boton">Mis producciones</a>
            </div>
        </div>
    </div>
    
</body>
</html>