{%load static%}

<link rel="stylesheet" href="{%static 'core/css/bootstrap.css'%}">
<link rel="stylesheet" href="{%static 'core/css/estilos.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="row" id="proyectos">

        <div class="col-lg-md-12"> 
            <h1 style="font-size: 3vw; font-weight: bolder; text-align: center; color: #e5b300;">Formulario</h1>
        </div>
        <div class="col-lg-md-12"> 
            <h1 style="font-size: 4vw; font-weight: bolder; text-align: center;">Ingresar Produccion</h1>
        </div>
        <div style="text-align: center;">
            <form action="{% url 'base' %}" method="POST">
                {% csrf_token %}
            <label for="codigo" style="min-width: 200px;">Codigo:</label>
            <input type="text" id="codigo" name="codigo">
            <br><br>
            <label for="litros" style="min-width: 200px;">Litros:</label>
            <input type="text" id="litros" name="litros">
            <br><br>
            <label for="fecha" style="min-width: 200px;">Fecha:</label>
            <input type="text" id="fecha" name="fecha">
            <br><br>
            <label for="turno" style="min-width: 200px;">Turno:</label>
            <input type="text" id="turno" name="turno">
            <br><br>
            <label for="hora" style="min-width: 200px;">Hora:</label>
            <input type="text" id="hora" name="hora">
            <br><br>
            <br><br>
            <label for="operador" style="min-width: 200px;">operador:</label>
            <input type="text" id="operador" name="operador">
            <br>
            <br>
            <input type="submit" value="Entrar">
       
            </form>
        </div>
    </div>
</div>