<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ENC{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ENC</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro_produccion' %}">Registrar Producción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listado_produccion' %}">Listado de Producción</a>
                </li>
                <li class="nav-item">
                   
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if user.is_authenticated %}
        <label>
            <b>Usuario:</b> {{ user.first_name }} {{ user.last_name }}
            <b>Tipo:</b> {% for group in user.groups.all %}
                            {{ group.name }}
                         {% endfor %}
                         &nbsp;
        </label>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
        {% endif %}
    </nav>
    <div class="container">
        {% if mensaje_exito %}
            <label class="text-success"><h1>Éxito:</h1> {{ mensaje_exito }}</label>
        {% endif %}
        {% if mensaje_error %}
            <label class="text-danger"><h1>Error:</h1> {{ mensaje_error }}</label>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <p>cambio para pushear</p>
</body>
</html>
