*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
}

.row{
    text-align: center;
    align-items:center;
    margin: 0;
}

.formulario {
    background-color: #fff;
    padding: 12vw;
    border-radius: 10vw;
    margin-top: 7vw;
    margin-bottom: 5vw;
}